* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.App {
    width: 100vw;
    max-width: 540px;
    height: 100vh;
    background: blueviolet;
}

.header {
    font-size: 18pt;
    text-align: left;
    color: azure;
    text-shadow: 1px 1px 4px turquoise;
    padding: 8px 8px 8px 16px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.robot__icon {
    font-size: 20pt;
    color: azure;
    text-shadow: 1px 1px 4px turquoise;
}

.bot__title {
    padding-left: 16px;
}

.bot__image {
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: auto;
}

.nav__topdown {
    color: rgba(40, 40, 129, 0.9);
    display: inline-block;
    box-sizing: content-box;
    text-align: right;
    font-size: 16pt;
}

.btn__func:hover {
    color: rgba(0, 0, 129, 0.9);
}

.btn__spfunc {
    color: darkmagenta;
}

.btn__spfunc:hover {
    color: rgb(192, 0, 192);
}

.message__container {
    height: 82%;
    padding: 0 12px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.input {
    outline: none;
    font-size: 18px;
}

.input__panel {
    height: 7%;
    min-height: 42px;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 8px 16px;
    border-radius: 16px;
}

.input__message {
    border: none;
    background-color: azure;
    color: darkmagenta;
    border-radius: 16px 0 0 16px;
    padding-left: 8px;
}

.btn__send {
    border: none;
    border-right: none;
    background-color: darkmagenta;
    color: azure;
    border-radius: 0 16px 16px 0;
    transition-duration: 0.2s;
}

.btn__send:hover {
    background-color: rgb(192, 0, 192);
}

.btn__send:active {
    font-size: 14px;
}

.text__message {
    font-size: 18px;
}

.text__left {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 8px;
}

.text__right {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    margin-top: 8px;
}

.box__left {
    border: none;
    width: 66.66%;
    display: inline-block;
    box-sizing: content-box;
    color: azure;
    background: darkmagenta;
    text-align: left;
    padding: 8px 8px 8px 20px;
    border-radius: 16px 16px 16px 0px;
    word-wrap: break-word;
}

.box__right {
    border: none;
    width: 66.66%;
    display: inline-block;
    box-sizing: content-box;
    color: azure;
    background: rgba(0, 0, 129, 0.9);
    text-align: right;
    padding: 8px 20px 8px 8px;
    border-radius: 16px 16px 0px 16px;
    word-wrap: break-word;
}

.sub__item {
    border: none;
    width: 66.66%;
    margin-top: 3px;
    font-size: 14px;
    display: inline-block;
    box-sizing: content-box;
    color: azure;
    background: rgba(0, 184, 174, 0.9);
    padding: 8px 8px 8px 20px;
    border-radius: 16px 16px 16px 16px;
    word-wrap: break-word;
}

.spinner {
    width: 66.66%;
    margin-top: 2px;
    font-size: 14px;
    display: inline-block;
    box-sizing: content-box;
    color: rgba(0, 184, 174, 0.9);
    padding: 8px 8px 8px 20px;
    border-radius: 16px 16px 16px 16px;
    word-wrap: break-word;
}

.popover {
    background: rgba(0, 184, 174, 0.9);
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px turquoise;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(40, 40, 129, 0.9);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 129, 0.9);
}

.modal {
    background-color: rgba(64, 224, 208, 0.2);
    filter: drop-shadow(5px 5px 4px #c9c9c963);
    backdrop-filter: blur(4px);
}

.modal .modal-content {
    border: none;
    color: azure;
    background-color: darkmagenta;
}

.modal .modal-header {
    border: none;
    text-shadow: 1px 1px 4px turquoise;
}

.modal .modal-footer {
    border: none;
}

.modal .modal-body {
    border: none;
    font-size: 14pt;
}

.tooltip .tooltip-inner {
    color: azure;
    font-size: 11pt;
}
